a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

ul{
    list-style: none;
    padding-left: 0;
}


.home-logo a img{
    width: 80px;
}
.head-menu ul li{
    padding: 0 10px;
}


/* banner section */

.banner{
    background-color: #F9F9FF;
    padding: 50px 0;
}
.bannner-left{
    padding-top: 170px;
}
.bannner-left1{
    font-size: 18px;
}
.bannner-left2{
    width: 90%;
    font-size: 15px;
    padding-top: 15px;
}
.bannner-left a{
    padding: 15px 30px;
    background-color: #8490FF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    line-height: 75px;
}

.bannner-left a:hover{
    background-color: #707ef5;
}

/* about */



.About{
    padding: 50px 0;
}

.about-me{
    padding-top: 75px;
}
.about-left img{
    /* box-shadow: 1px 1px 25px 5px #ddd; */
}
.about-me p{
    padding: 15px 0;
}
.about-me a{
    padding: 15px 30px;
    background-color: #8490FF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    line-height: 75px;
}
.about-me a:hover{
    background-color: #707ef5;
}

/* project */


.project{
    text-align: center;
    background-color: #8490FF;
    color: #fff;
}

.project-box{
    padding: 100px 0;
}
.project-box h1{
    font-weight: bold;
}


/* service */

.service{
    background-color: #F9F9FF;
    padding: 80px 0;
  
}
.service-box{
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(183, 176, 176);
}
.ser-one{
    padding-top: 55px;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    margin: auto;
    height: 150px;
    background-color: #F9F9FF;
    border-radius: 50%;
}
.service-box h5{
    padding-top: 10px;
}
.service-box p{
    font-size: 20px;
    padding: 10px 0;
    color: #5f5d5d;
}
.service-box a{
    color: #8490FF;
    padding: 10px 30px;
    line-height: 75px;
    border: 1px solid #8490FF;
    border-radius: 5px;
    transition: .4s all ease-in-out;
}
.service-box:hover a{
    background-color: #8490FF;
    color: #fff;
    border: 1px solid #8490FF;
}


/* team section */

.team{
    padding-top: 150px;
    padding-bottom: 50px;
}
.post {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 1px 8px 17px -7px #000;
}
.post:last-child{
    margin-right: 0;
}
.post img{
    width: 100px;
    position: absolute;
    top: -55px;
    left: 15px;
}
.team-iner{
    text-align: center;
}
.team-iner h2{
    padding-top: 20px;
}
.team-iner h5{
    margin-top: -5px;
}
.team-iner p{
    padding: 20px 0;
}
.team-iner a{
    padding: 13px 30px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 20px 3px #ddd; */
    color: #000;
}


/* conatct scetion */

.contact{
    background-color: #F9F9FF;
    padding-top: 60px;
    padding-bottom: 30px;
}


.media-1{
    display: flex;
}
.media-2{
    margin-right: 8px;
}
.media-3{
    margin-left: 8px;
}

.form-div{
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 1px 15px 2px #ddd;
}

.form-div form textarea{
    height: 200px;
}
.form-div form button{
    padding: 10px 35px;
    background-color: #17A2B8;
   border: none;
    border-radius: 5px;
    color: #fff;
}
.form-div form button:hover{
    background-color: #8490FF;
}
.form-div input:focus{
    border: 1px solid #8490FF;
    outline: none;
}
.form-div textarea:focus{
    border: 1px solid #8490FF;
    outline: none;
}
.form-right {
	padding-top: 150px;
	padding-left: 40px;
}
.form-right ul li{
    padding: 5px 0;
}
.footer{
    background-color: #04091E;
    color: #fff;
    margin-bottom: 0;
}
.footer p{
    padding: 20px 0;
}


